.prjts{
	
	/*height: 900px;*/
	color: #222;
}
.prjts h1 {
	padding-top: 70px;
	margin:0;
}
.project{
	display: flex;
	text-align: center;
	position: space-around;
}
.picture{
	margin-top: 30px;

}
.decrip{
	margin: 30px;
    padding: 20px 40px 40px;
    max-width: 500px;
    text-align: left;
    background: #fff;
	border-bottom: 4px solid #ccc;
	border-radius: 6px;
	transition: all .5s;
}

/*@media screen and (min-width: 720px){
	
}*/